.text-info-loading-line{
    font-size: 28px;

}

.info-for-loading-line{
    margin-left: 60px;
    margin-top: 100px;
}

.input-text-loading{
    font-size: 32px;
    width: 700px;
}

.date-span{
    font-size: 15px;
    margin-right: 30px;
}