.nav-bar{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.left-div{
    margin-top: 14px;

}

.econt-text{
    color: white;
    font-size: 26px;
    font-family: 'proxima-nova', sans-serif;
    margin: 10px;
    padding: 15px 70px;
    font-weight: 600;
    text-decoration: none;
}

.right-div{
    padding-right: 140px;
    padding-top: 10px ;
}

.userIcon{
    height: 36px;
    width: 36px;
    fill: #fbfdff;
}

.horizontalLines{
    height: 40px;
    width: 40px;
    fill:#fbfdff;
    padding-left: 40px;
}